:root {
    --main-font: 'Inter';
    --accent-font: 'PressStart2p-Regular';
    --bg-color: #fff;
    --color: #000;
    --heart-color: red;
    --label-color: #fff;
    --floppy-size: 28px;
    --heart-contour-color: #000;
    --animation-fill-color: #FF0000;
}